@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* Importante para lidar com largura e altura */
}

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  /*background-color: rgb(219, 230, 250);*/
}

body::before {
  content: "";
  position: fixed;
  inset: 0; /* top:0 right:0 bottom:0 left:0 */
  background-image: url("fundo.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  filter: blur(8px);
  transform: scale(1.05); /* evita bordas visíveis do blur */

  z-index: -1;
}

main {
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

/*Estilização do formulário*/

form {
  background-color: rgba(255, 255, 255, 1);
  padding: 1.5rem;
  border-radius: 1rem;
  width: 38rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.titulo-subtitulo {
  margin-bottom: 1.5rem;
}

.titulo{
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.subtitulo {
  font-size: 0.9rem;
  font-weight: 300;
  color: #7e7d7d;
}

.form-sessao {
  margin-bottom: 1rem;
}

.titulos-sessao{
  font-size: 1.05rem;
  font-weight: 500;
  margin-bottom: 0.6rem;
  padding-bottom: 0.4rem;
  border-bottom: 1px #ccc solid;
}

.form-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.2rem;
  margin-bottom: 1.5rem;
}

.campos {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 0.9rem;
  font-weight: 500;
  color: #000000;
  margin-bottom: 0.5rem;
}

.campos legend {
  font-size: 0.9rem;
  font-weight: 500;
}

.asterisco {
  color: red;
  font-size: 13px;
}

.campos .entradas {
  border: none;
  background-color: rgb(240, 242, 244);
  border-radius: 10px;
  padding: 0.5rem;
  font-family: "Inter", sans-serif;
  color: #666666;
  width: 17rem;
}

.campo-dados-contrato {
  position: relative;
}

.prefixo {
  position: absolute;
  top: 31px;
  left: 10px;
  pointer-events: none;
  font-family: "Inter", sans-serif;
  font-weight: 300;
  color: #929191;
}

.campo-dados-contrato .entradas {
  padding-left: 37px;
}

.campos select {
  border: none;
  background-color: rgb(240, 242, 244);
  border-radius: 10px;
  padding: 0.5rem;
  font-family: "Inter", sans-serif;
  color: #666666;
  width: 17rem;
}

select option {
  color: #666666;
}

.input-radio {
  color: #fff;
  background-color: #fff;
}

.campoFerias {
  display: flex;
  gap: 3rem;
}

.botoes {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.btn {
  width: 6.5em;
  padding: 0.6rem 0.6rem;
  border-radius: 0.5rem;
  border: #494949;
  font-weight: 540;
  font-size: 0.9rem;
}

.btn:active {
  transform: scale(0.97);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.btn-calcular {
  color: #fff;
  background-color: rgb(21, 93, 252);
  border: none;
}

.btn-limpar {
  background-color: #fff;
  color: #000;
  border: #666666 solid 1px;
}

/*Estilização do resultado exibido para o usuário*/

.Sessao-02-resultado{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 1.5rem;
  color: #fff;
  background-color: rgba(197, 150, 150, 0.3);
  padding: 3rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.resultado-principal {
  width: 38rem;
}

.resultado-detalhado{
  display: flex;
  gap: 2rem;
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.valores-rescisorios, .valores-descontos, .valores-fgts{
  width: 18rem;
}

.resultado-detalhado h3 {
  margin-bottom: 1rem;
  
}

.resultados {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin-bottom: 1.5rem;
  border-bottom: #e0e0e0 1px solid;
}

.Sessao-02-resultado .titulo {
  font-weight: 700;
}

.aDireita {
  text-align: end;
}

.Sessao-02-resultado legend {
  font-size: 1.1rem;
}

/*Sessão que muda depedenddo da interatividade:*/

.msgErro {
  color: red;
  display: none;
}

.erro {
  border: solid 2px red !important;
}

.quadro-erro {
  border-radius: 1rem;
  background-color: #050381;
  color: #fff;
  padding: 1rem;
  border: none;
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.quadro-erro div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  height: 10rem;
  background-color: #050381;
  color: #fff;
}

.quadro-erro div button {
  padding: 10px;
  border-radius: 5px;
  border: solid #fff 1px; 
}



/* Configuração do ponto de interrogação */
.descricao {
  position: relative;
  margin-right: 5px;
  
  cursor: help;
}

/* Criando o ícone (?) fixo */
.descricao::before {
  content: "?";
  position: absolute;
  right: 1px;
  display: inline-block;
  width: 16px;
  height: 16px;
  line-height: 16px;
  text-align: center;
  background-color: rgb(21, 93, 252);
  color: white;
  border-radius: 50%;
  font-size: 12px;
  font-weight: bold;
}

  .modelo-de-container-transparente{
    width: 38rem;
    display: flex;
    flex-direction: column;
    gap: 0.9rem;
    color: #fff;
    background-color: rgba(89, 70, 70, 0.5);
    padding: 3rem;
    border-radius: 1rem;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    margin-bottom: 1rem;
    line-height: 1.5;
}

/* Parte sobre interpretação do resultado e explicações sobre rescisão trabalhista:*/

details{
  font-size: 1.3rem;
}

details p, li{
  margin-bottom: 0.8rem;
  font-size: 1rem;
}

summary{
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 1rem;
}







@media (max-width: 1080px){
  .Sessao-02-resultado{
    width: 38rem;
  }
  .resultado-principal {
    width: 30rem;
  }

  .resultado-detalhado{
    grid-template-columns: 2fr;
    width: 30rem;
    display: grid;
    place-items: center;
  }

  .valores-rescisorios, .valores-descontos, .valores-fgts{
  width: 30rem;
  }

  .descricao::after {
    left: 3rem;
  }
}

@media (max-width: 670px){

  form{
    width: 20rem;
  }

  .form-grid {
  display: grid;
  grid-template-columns: 1fr;
  }

  .titulo{
    text-align: center;
  }

  .Sessao-02-resultado{
    width: 20rem;
  }

  .msgErro{
    font-size: 0.9rem;
  }

  .resultado-principal {
    width: 18rem;
  }

  .resultado-detalhado{
    grid-template-columns: 2fr;
    width: 18rem;
    display: grid;
    place-items: center;
  }

  .valores-rescisorios, .valores-descontos, .valores-fgts{
    width: 18rem;
  }

  .descricao::after {
    left: 0;
    transform: scale(0); 
    
  }
  
  .descricao:hover::after {
    transform: scale(1);
  }
}

.descricao::after {
  content: attr(data-tooltip);
  position: absolute;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%) scale(0);
  
  /* AJUSTES DE RESPONSIVIDADE*/
  width: 80vw;
  max-width: 250px;
  white-space: normal;
  word-wrap: break-word;
  text-align: center;

  background-color: #333;
  color: #fff;
  padding: 10px;
  border-radius: 6px;
  font-size: 13px;
  opacity: 0;
  transition: all 0.2s ease;
  pointer-events: none;
  z-index: 9999; 
}
.descricao:hover::after {
  opacity: 1;
  transform: translateX(-50%) scale(1);
}